.nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    max-width: calc(100vw - 2rem);

    a{
        background: transparent;
        padding: 0.75rem;
        border-radius: 50%;
        display: flex;
        color: var(--color-light);
        font-size: 1rem;
        transition: background 0.2s, color 0.2s;
    }

    a.active{
        background: rgba(3, 196, 235, 0.2);
        color: #03C4EB;
    }

    a:hover{
        background: rgba(0,0,0,0.3);
    }

    a:active{
        background: var(--color-bg);
        color: var(--color-white);
    }
}
